---
import Layout from "../layouts/Layout.astro";
import fetchApi from "../lib/strapi";
import type Pricing from "../interfaces/pricings";

const pricings = await fetchApi<Pricing[]>({
  endpoint: "pricings",
});
---

<Layout title="Welcome to Astro.">
  <main>
    {pricings.map((pricing) => <li>{pricing.Title}</li>)}
  </main>
</Layout>
