---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";

import backgroundImage from "../assets/images/background-image.webp";
import SectionTitle from "../components/SectionTitle.astro";
import Section from "../components/Section.astro";
---

<Layout title="Entrance Design">
  <main class="flex flex-col items-center">
    <Section>
      <Image
        src={backgroundImage}
        alt="Picture of a well-designed room with a plant and linen curtain."
        class="border rounded-2xl"
      />
      <div class="pt-20 text-zinc-900">
        <SectionTitle
          title="Interior design on your terms"
          customClass="mb-8"
        />
        <p class="mb-8">
          We are a team of designers who specialize in creating beautiful and
          functional spaces for your home or office. Our goal is to help you
          create a space that reflects your personality and lifestyle.
        </p>
        <div class="flex">
          <p>instagram</p>
          <p>facebook</p>
          <p>pinterest</p>
        </div>
      </div>
    </Section>
    <Section>
      <SectionTitle title="Projects" />
    </Section>
    <Section>
      <SectionTitle title="Contact us" />
    </Section>
    <Section>
      <SectionTitle title="About" />
    </Section>
  </main>
</Layout>
