---
import { Image } from "astro:assets";

import logo from "../assets/svgs/logo.svg";
import mail from "../assets/svgs/icons/mail.svg";
---

<footer class="flex w-full bg-zinc-900">
  <div class="w-1/2">
    <a href="/">
      <Image src={logo} alt="Entrance Design logo" class="pl-6 h-32" />
    </a>
  </div>
  <div class="flex flex-col w-1/2 text-white">
    <nav>
      <a href="/about">About</a>
      <a href="/projects">Projects</a>
      <a href="/contact">Contact</a>
    </nav>
    <div>
      <p>123 Test</p>
      <p>email@test.com</p>
      <Image src={mail} alt="Envelope indicating email address" />
      <div>
        <p>instagram</p>
        <p>facebook</p>
        <p>pinterest</p>
      </div>
      <p>Copyright 1023o0230</p>
    </div>
  </div>
</footer>
