---
import { Image } from "astro:assets";

import logo from "../assets/svgs/logo.svg";
---

<header class="flex w-19/20 justify-between items-center">
  <a href="/">
    <Image src={logo} alt="Entrance Design logo" class="pl-6 h-32" />
  </a>
  <nav>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
